#excluding files from package manages
vendor
node_modules
src/public/assets/vendor

#excluding IDE files
.idea

#excluding SLIM framework files
app/cache/*
app/logs/*

#excluding runtime data
app/data.sqlite
app/data_test*.sqlite
!app/data_test_template.sqlite

#ecluding precompiled asset files 
src/public/dist/js/pre/*
src/public/dist/css/pre/*
src/public/dist/fonts/pre/*

#excluding deployment files
deployer.phar
servers.yml

#excluding test data
build/logs/clover.xml
mail-*-*-*.txt